@media only screen and (min-width: 360px) and (max-width: 600px) {
  body {
    padding: 0px;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .navbar > h2 {
    font-size: 20px;
  }
  .nav-links {
    width: 70%;
  }
  .nav-links > h4 {
    font-size: 14px;
  }
  .content-head > h1 {
    font-size: 35px;
  }
  .content-p > p {
    font-size: 20px;
    width: 65%;
  }
  #inputemail {
    width: 200px;
    padding: 8px 15px;}
    form {
        display: flex;
        gap: 10px;
        justify-content: center;}

}
@media only screen and (min-width:400px) and (max-width:600px){
    .nav-links {
        width: 60%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  body {
    padding: 0px;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .navbar > h2 {
    font-size: 25px;
  }
  .nav-links {
    width: 50%;
  }
  .nav-links > h4 {
    font-size: 18px;
  }
  .content-head > h1 {
    font-size: 40px;
  }
  .content-p > p {
    font-size: 24px;
    width: 65%;
  }
  #inputemail {
    width: 220px;
    padding: 8px 15px;}
    form {
        display: flex;
        gap: 10px;
        justify-content: center;}
        
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
    body{
        padding: 0px 50px 
    }
    .navbar{
        display: flex;
        align-items: center;font-size: 21px
    }
    
    .nav-links{
        width: 45%;font-size: 18px
    }
    .content-head>h1 {
        width: 65%;
        text-align: center;
        color: #ffffff;
        font-size: 60px;}
}